extends layout

block content
	h1= title
	table(border='1',cellpadding='10')
		thead
			tr 
				th Photo
				th Usage Restrictions
				th Date Uploaded
				th
		tbody
			each photo in photos
				tr
					td
						a(href= photo._id)
							img(src= "#{photo._id}", width="200px") 
					td= photo.usage_restrictions
					td= photo.uploaded
					td
						input(class="btn btn-primary", type="button", value="Audit", onclick='audit("#{photo._id}")')
	
	#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal')
						span(aria-hidden='true') ×
						span.sr-only Close
					h4#myModalLabel.modal-title Modal title
					.modal-body
						| ...
					.modal-footer
					button.btn.btn-default(type='button', data-dismiss='modal') Close 
					button.btn.btn-primary(type='button') Save changes
