extends layout

block content
	h1= title
	table(border='1',cellpadding='10')
		thead
			tr 
				th Photo
				th By
				th Usage Restrictions
				th Date Uploaded
		tbody
			each photo in photos
				tr
					td(class="col-md-3")
						a(href= photo._id)
							img(src= "#{photo._id}", width="200px") 
					td(class="col-md-2")
						a(href= photo.user)  #{photo.name}
					td(class="col-md-4")
						each usage_restriction in photo.usage_restrictions
								p 
									a(href= "#{usage_restriction.url}")
										| #{usage_restriction.label}
					td(class="col-md-3")= photo.uploaded

							

	