extends layout

block content
	h1= title
	table(border='1',cellpadding='10')
		thead
			tr 
				th Photo
				th User
				th Usage Restrictions
				th Date Uploaded
		tbody
			each photo in photos
				tr
					td
						a(href= photo._id)
							img(src= "#{photo._id}", width="100px") 
					td
						a(href= photo.user)  #{photo.username}
					td= photo.usage_restrictions
					td= photo.uploaded
	