extends layout

block content
	h1= title
	table(border='1',cellpadding='10')
		thead
			tr 
				th Profile page
				th Name
				th Date Joined
				th Email
		tbody
			each user in users
				tr
					td= user._id
					td= user.name
					td= user.joined
					td= user.email

